html, body{
	height:100%;
	margin: 0;
  	padding: 0;
  	min-width: 1024px;
}

/*------Body of the html document------*/
body{
	background-color:#dcdcdc;
	font-family: 'Ubuntu', sans-serif;
}

/*------Div that wraps everything in the body------*/
#mcwrap{
	min-height: 100%;
	margin-bottom: -40px;
	height: auto;
	overflow: hidden;
	display:flex;
	flex-direction:column;
}

/*------The header of the webpage------*/
#fellaini{
	position:relative;
	top:0px;
	width:100%;
	background-color:#333333;
	overflow:hidden;
	height:110px;
}

/*------Link from the logo which redirects to the page itself------*/
#ref{
	position:relative;
	bottom:50px;

}

/*------Logo of the webpage------*/
#logo{
	width:110px;
	height:110px;
}

/*------Text of the header------*/
#heading{
	margin:0;
	position:relative;
	top:30px;
	left:130px;
	font-size:275%;
	color:#dcdcdc;
	width:600px;
}

/*------Div of the elements of the webpage------*/
#elements{
	position:relative;
	left:83px;
	bottom:115px;
}

/*------Text over the the form------*/
#bigmac{
	position:relative;
	font-weight: lighter;
	text-align: center;
	max-height:90%;
}

/*------Div containing the form------*/
#diver{
	margin-right:auto;
    margin-left:auto;
	width: 550px;
	background-color: #f1f1f1;
}

/*------Form to fill in------*/
#former{
	color: #484a4c;
	padding:5%;
	width: 500px;
	background-color: #f1f1f1;
}

/*------Div containing the form------*/
.asking{
	color:red;
}

/*------Red asterisk which informs about a mandatory field------*/
.imput{
	float:right;
	width:50%;
	border-radius:3px;
	border:1px solid #9B9B9B;
}

/*------Label containing the checkboxes with the cities where the user can look for jobs------*/
#cities{
	margin-right:auto;
	margin-left:auto;
}

/*------Label where the user specifies its sex (Radio button)------*/
#sex{
	float:right;
}

/*------Label where the user specifies if he/she is in a company (Radio button)------*/
#kompany{
	float:right;
}

/*------Label where the user specifies if he/she is in a company (Radio button)------*/
#offers{
	float:right;
}

/*------Label containing the checkbox which the user has to check in order to accept the user and privacy terms------*/
#check{
	font-size:75%;
}

/*------Button with which the user can upload a profile pic------*/
#inputphotillo{
	float:right;
	font-size:60%;
}

/*------Button to submit the form------*/
#submitbutton{
	font-size:75%;
	float:right;
}

/*------Not clicked user and privacy terms link------*/
.privacy:link{
	color: #484a4c;
	text-decoration: underline;
	background-color: none;
}

/*------Visited user and privacy terms link------*/
.privacy:visited {
	color:#484a4c;
	text-decoration: underline;
	background-color: none;
}

/*------Hovered user and privacy terms link------*/
.privacy:hover {
	color:#484a4c;
	text-decoration: underline;
	background-color: none;
}

/*------Active user and privacy terms link------*/
.privacy:active {
	color:#484a4c;
	background-color: none;
}

/*------Class of the warning divs of the form------*/
.noti{
	margin-top:10px;
	margin-bottom:10px;
	color:#ffffff;
	background-color:#d64937;
	padding:5px;
}

/*------Text explaining what fields are mandatory------*/
#mininfo{
	font-size:75%;
	float:right;
}

/*------Footer of the webpage and div that pushes it if the height of the content of the webpage is larger than the screen resolution------*/
#footer, #pushdownautomata {
	height: 40px;
}

/*------Div that pushes it if the height of the content of the webpage is larger than the screen resolution------*/
#pushdownautomata{
	margin-top:30px;
}

/*------Footer of the webpage------*/
#footer{
    background-color:#333333;
    color:#f1f1f1;
	overflow: hidden;
}
